.row {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.card {
  background-color: #DCDCDC;
}

p {
  text-align: center;
}

#header {
  background-image: radial-gradient(circle, #5C8ECE, white, white);
  margin-top: 0px;
  padding-top: 15px;
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}

img {
  background-image: url('https://orig00.deviantart.net/1826/f/2017/226/e/8/compass_sword_animation2_by_boberatu-dbk2ndx.gif');
  background-position: center;
  background-size: cover;
}

#slogan {
  font-size: 35px;
  vertical-align: baseline;
}

h5 {
  font-weight: bold;
  font-size: 25px;
}

footer {
  margin-top: 30px;
}

.btn {
  background-color: #5C8ECE;
}

table {
  margin: auto;
}

th {
  width: 30%;
  padding-top: 3px;
  padding-bottom: 3px;
}

td {
  padding-top: 3px;
  padding-bottom: 3px;
}